<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<h3>Courses Taught: </h3>
<% @courses.each do |course| %>
    <li><%= link_to course.name, course_path(course) %> (<%= link_to course.subject.name, subject_path(course.subject) %>)</li>
<% end %>

<br />
<h3>Reviews: </h3>
<p><%= link_to "Add a review", new_user_review_path(@user) %></p>

<% @user.reviews.each do |review| %>
  <li>
  <%= review.rating %> <br />
  <%= review.body %> -- <%= review.user.first_name %> <%= review.user.last_name %>
  </li>
<% end %>
