<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<h3>Courses Taught: </h3>
<% @courses.each do |course| %>
    <li><%= link_to course.name, course_path(course) %> (<%= link_to course.subject.name, subject_path(course.subject) %>)</li>
<% end %>

<br />
<h3>Reviews: </h3>
<p><%= link_to "Add a review", new_user_review_path(@user) %></p>

<% @reviews.each do |review| %>
  <li>
  <%= review.rating %> (of 5) Stars<br />
  <%= review.body %> -- <%= review.user.first_name %> <%= review.user.last_name %>
  <% if current_user == review.user %>
    <%= link_to "Edit Review", edit_user_review_path(@user, review) %> |
    <%= link_to "Delete Review", user_review_path(@user, review),
  method: :delete, data: { confirm: "Are your sure?" } %>
  <% end %>
  </li>
<% end %>
