<h1><%= @course.name %> (<%= @course.level.name %>)</h1>

<h3>Price:
<% if @course.price == 0 %>
  Free
<% else %>
  <%= number_to_currency(@course.price, precision: 2) %>
<% end %>
</h3>

<h4>
<% if @course.start_date %>
  Starts: <%= @course.start_date.strftime("%m/%d/%Y") %>
<% end %>
</h4>

<h4>Description: <%= @course.description %></h4>

<h4>Taught By: <%= link_to @course.user.first_name + " " + @course.user.last_name, user_path(@course.user) %></h4>

<h3>Reviews: </h3>

<p><%= link_to "Other " + @course.subject.name + " Courses", subject_path(@course.subject) %></p>
